## **Clustering**

In [28]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [12]:
data = pd.read_csv('Live.csv')
print(data.columns)

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2', 'Column3',
       'Column4'],
      dtype='object')

In [13]:
data = data.drop(['Column1', 'Column2', 'Column3',
       'Column4'],axis=1)

In [16]:
data.drop(['status_id', 'status_published'], axis=1, inplace=True)

In [17]:
data.head()

,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,video,529,512,262,432,92,3,1,1,0
1,photo,150,0,0,150,0,0,0,0,0
2,video,227,236,57,204,21,1,1,0,0
3,photo,111,0,0,111,0,0,0,0,0
4,photo,213,0,0,204,9,0,0,0,0

In [18]:
X=data

In [23]:
le = LabelEncoder()
X['status_type'] = le.fit_transform(X['status_type'])
y = data['status_type']
y = le.transform(y)

In [24]:
k = 10
samples, features = X.shape

In [25]:
def bench_k_means(estimator, name, data):
    estimator.fit(data)
    print('%-9s\t%i\t%.3f\t%.3f\t%.3f\t%.3f\t%.3f\t%.3f'
          % (name, estimator.inertia_,
             metrics.homogeneity_score(y, estimator.labels_),
             metrics.completeness_score(y, estimator.labels_),
             metrics.v_measure_score(y, estimator.labels_),
             metrics.adjusted_rand_score(y, estimator.labels_),
             metrics.adjusted_mutual_info_score(y,  estimator.labels_),
             metrics.silhouette_score(data, estimator.labels_,
                                      metric='euclidean')))

In [26]:
clf = KMeans(n_clusters=k,init='random',n_init=10)

In [29]:
bench_k_means(clf,'1',X)

1        	523198127	0.181	0.138	0.157	0.178	0.155	0.682