#Linear Regression for car price

In [1]:
import pandas as pd
import sklearn.model_selection
from sklearn import linear_model, preprocessing
import pickle

In [3]:
data = pd.read_csv('/car_price.csv')

In [4]:
print(data.head())

  make_model body_type Body Color     km  hp Gearing Type  \
0    Audi A1    Sedans      Black  56013  85    Automatic
1    Audi A1    Sedans        Red  80000  85    Automatic
2    Audi A1    Sedans      Black  83450  85    Automatic
3    Audi A1    Sedans      Brown  73000  85    Automatic
4    Audi A1    Sedans      Black  16200  85    Automatic

                                              Extras  price
0     Alloy wheels,Catalytic Converter,Voice Control  15770
1  Alloy wheels,Sport seats,Sport suspension,Voic...  14500
2                         Alloy wheels,Voice Control  14640
3             Alloy wheels,Sport seats,Voice Control  14500
4  Alloy wheels,Sport package,Sport suspension,Vo...  16790

In [5]:
data.columns

Index(['make_model', 'body_type', 'Body Color', 'km', 'hp', 'Gearing Type',
       'Extras', 'price'],
      dtype='object')

# Preprocessing the values using label encoder

In [6]:
le = preprocessing.LabelEncoder()

In [7]:
make_model = le.fit_transform(list(data['make_model']))
body_type = le.fit_transform(list(data['body_type']))
Body_Color = le.fit_transform(list(data['Body Color']))
Gearing_Type = le.fit_transform(list(data['Gearing Type']))
Extras = le.fit_transform(list(data['Extras']))

In [8]:
predict = 'price'

In [35]:
x = list(zip(make_model, body_type, Body_Color,list(data['km']),Gearing_Type,Extras))
y = list(data['price'])

In [36]:
x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(x,y,test_size=0.01)

In [37]:
best = 0
for _ in range(2000):
  x_train,x_test,y_train,y_test=sklearn.model_selection.train_test_split(x,y,test_size=0.01)
  linear = linear_model.LinearRegression()
  linear.fit(x_train,y_train)
  accuracy = linear.score(x_test,y_test)
  if accuracy>best:
    best = accuracy
    with open('carmodel.pickle','wb') as f :
      pickle.dump(linear,f)
print(best)

0.7826724989043371

In [38]:
pickle_in = open('carmodel.pickle','rb')
linear = pickle.load(pickle_in)

In [39]:
predictions = linear.predict(x_test)
for x in range(len(predictions)):
  print(predictions[x],x_test[x],y_test[x])

23005.925734920427 (2, 5, 6, 16300, 0, 143) 21480
14661.053825245812 (2, 6, 9, 111900, 1, 0) 15930
15675.364602720292 (2, 5, 11, 90000, 2, 0) 26000
17800.97065841139 (0, 5, 8, 27634, 1, 17) 16261
17305.24709638719 (0, 5, 1, 30757, 1, 216) 14490
19558.106113193277 (0, 5, 11, 7060, 1, 0) 15900
17344.560457739397 (0, 5, 2, 29343, 1, 0) 15500
18832.74932749477 (0, 5, 6, 14800, 1, 247) 15950
21924.802075423926 (2, 5, 11, 21425, 1, 20) 20990
17017.695050323888 (0, 5, 1, 34701, 1, 253) 13950
21992.887406062895 (2, 5, 2, 26168, 0, 87) 21400
18400.852646264964 (2, 5, 1, 50000, 2, 203) 18300
12060.006097351217 (0, 0, 2, 101087, 1, 0) 14390
20981.11821253005 (0, 5, 11, 0, 0, 0) 28500
20077.894771300802 (0, 0, 1, 10, 1, 277) 20988
20376.80072869532 (0, 0, 2, 6100, 0, 20) 23467
23116.58937666973 (2, 1, 8, 19800, 0, 170) 10893
21806.90925798538 (2, 5, 4, 29241, 0, 0) 20800
23546.03435326367 (2, 5, 9, 10500, 0, 20) 21400
19310.71501852274 (0, 5, 1, 16000, 0, 181) 23000
24290.72085682375 (2, 5, 6, 10, 0, 160) 26188
19676.213446952977 (0, 5, 1, 11725, 0, 235) 15660
18917.711664679555 (2, 5, 2, 53700, 1, 0) 16750
23482.07824169963 (2, 5, 6, 10, 1, 268) 22588
23482.15266814005 (2, 5, 9, 50, 1, 0) 24300
20474.21964523656 (0, 5, 11, 6476, 0, 0) 20800
18418.52361763646 (0, 5, 11, 21619, 1, 0) 16900
24139.424902635583 (2, 5, 2, 1, 0, 259) 26500
22400.041860367157 (2, 5, 11, 16800, 1, 218) 21500
20220.70339878342 (2, 5, 9, 43500, 1, 244) 17860
18981.46408004852 (0, 5, 11, 26000, 0, 62) 20000
15472.402584831505 (2, 0, 1, 101280, 1, 0) 13990
21075.41610993544 (0, 0, 5, 1000, 0, 270) 28400
22549.0728644056 (2, 5, 9, 12000, 1, 4) 24970
15778.575216003002 (0, 5, 1, 50707, 1, 277) 13500
11778.394950032016 (0, 5, 6, 92000, 2, 0) 14300
20892.13611558676 (0, 5, 8, 0, 0, 118) 29137
19199.155095458384 (0, 0, 11, 17768, 1, 259) 15850
18815.928507214263 (0, 0, 11, 22664, 1, 259) 16470
16569.91789611271 (0, 5, 11, 58380, 0, 277) 13599
16363.536670230189 (2, 5, 11, 104544, 0, 150) 16720
18764.50080626382 (0, 5, 8, 15200, 1, 0) 15900
23399.38507487378 (2, 0, 1, 7, 1, 0) 24490
24353.713039373702 (2, 5, 6, 60, 0, 277) 26900
20469.658710160904 (0, 5, 6, 5000, 0, 246) 28490
18676.135154787404 (2, 5, 1, 45000, 2, 0) 35000
23607.543032574195 (2, 5, 8, 10, 1, 305) 22388
14823.437788440162 (2, 0, 1, 109571, 1, 0) 13500